In [1]:
#dictionary
#-indexing
#-ordered
#-multiple and duplicate data
#-mutable

In [2]:
a = {}
b = dict()

print(type(a))
print(type(b))

<class 'dict'>
<class 'dict'>

In [3]:
# d = {<key>:<value>, <key>:<value>, <key>:<value> }

In [7]:
d = {'a':'Apple', 'b': 'Ball', 'c': 'Cat'}              #indexing
print(d['a'])
print(d['b'])
print(d['c'])

Apple
Ball
Cat

In [9]:
print(d)                                                #ordered

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [11]:
d = {'a':'Apple', 'b': 'Ball', 'c': 'Cat', 'A':'Apple'} #duplicate-value,not key         
print(d)

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'A': 'Apple'}

In [13]:
#adding value on dictionary
d = {}
d['a'] = 'Apple'
d['b'] = 'Ball'
d['c'] = 'Cat'
print(d)

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [14]:
dic = {'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}
dic['a'] = 'Art'
print(dic)

{'a': 'Art', 'b': 'Ball', 'c': 'Cat'}

In [17]:
#dictionary on loop
a = {'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}
for i in a:
    print(i)

a
b
c

In [20]:
a = {'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}
for i in a.values():
    print(i)

Apple
Ball
Cat

In [21]:
a = {'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}
for i in a.items():
    print(i)

('a', 'Apple')
('b', 'Ball')
('c', 'Cat')

In [22]:
l = [['a', 'Apple'], ['b', 'Ball'], ['c', 'Cat']]
dic = dict(l)
print(dic)

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [27]:
d = {}
n = int(input('Enter n = '))
for i in range(n):
    name = input('Enter name = ')
    phone = input('Phone = ')
    d[name] = phone
print(d)

Enter n =  3
Enter name =  ajit
Phone =  293890128
Enter name =  pramod
Phone =  92380912
Enter name =  jenish
Phone =  02984980

{'ajit': '293890128', 'pramod': '92380912', 'jenish': '02984980'}

In [28]:
#update
d = {'ajit': '293890128', 'pramod': '92380912', 'jenish': '02984980'}
d['ajit'] = '8838383838'
d

{'ajit': '8838383838', 'pramod': '92380912', 'jenish': '02984980'}

In [29]:
#delete
#del pop()

In [30]:
d = {'ajit': '9743215678', 'pramod': '9809765432'}
del d['ajit']
print(d)

{'pramod': '9809765432'}

In [31]:
d = {'ajit': '9743215678', 'pramod': '9809765432'}
d.pop('pramod')
print(d)

{'ajit': '9743215678'}

In [32]:
d = {'ajit': '9743215678', 'pramod': '9809765432'}
b = d.pop('pramod')
print(d)
print(b)

{'ajit': '9743215678'}
9809765432

In [33]:
info = {'Ram':[9845667654,9808778765], 'Shyam':[9845667612,9808887865]}
info

{'Ram': [9845667654, 9808778765], 'Shyam': [9845667612, 9808887865]}

In [34]:
info = {'name':['Ram','Shyam'], 'NTC':[9845667654,9845667687], 'Ncell':[9808778765,9808778743]}
info

{'name': ['Ram', 'Shyam'],
 'NTC': [9845667654, 9845667687],
 'Ncell': [9808778765, 9808778743]}

In [35]:
print(info['name'][0])
print(info['NTC'][0])
print(info['Ncell'][0])

Ram
9845667654
9808778765

In [37]:
i = int(input('Enter index = '))
print(info['name'][i])
print(info['NTC'][i])
print(info['Ncell'][i])

Enter index =  1

Shyam
9845667687
9808778743

In [38]:
#read
info = {'name':[],'ntc':[],'ncell':[]}
n = int(input('Enter n = '))
for i in range(n):
    name = (input('Enter name = '))
    ntc = int(input('ntc no = '))
    ncell = int(input('ncell no = '))
    info['name'].append(name)
    info['ntc'].append(ntc)
    info['ncell'].append(ncell)

print(info)

Enter n =  2
Enter name =  Ram
ntc no =  9845667654
ncell no =  9808887890
Enter name =  Ganesh
ntc no =  9845667656
ncell no =  9808887863

{'name': ['Ram', 'Ganesh'], 'ntc': [9845667654, 9845667656], 'ncell': [9808887890, 9808887863]}

In [1]:
#WAP to take data from user and create dict inside list
        #ALSO DO CRUD
#WAP to take data from user and create dict inside dict

In [ ]:
#info = {'name':[], 'NTC':[], 'Ncell':[]}
#n = int(input('Enter n = '))
#for i in range(n):
 #   name = input('Enter name = ')
  #  NTC = int(input('NTC no = '))
   # Ncell = int(input('Ncell no = '))