In [1]:
#file handling

#file = open('<file_name>', 'mode')
#file. close()

#with open(<'file_name'>,'mode')as file:
 #   <operations>

#modes
#x - create
#r - read
#a - append
#w - write

In [2]:
file = open('data.txt','x')
file.close()

In [3]:
pwd

'C:\\Users\\admin\\Python 8am'

In [4]:
file = open('data.txt','r')
data = file.read()
file.close()
print(data)

1 hello world
2 hello world
3 hello world
4 hello world
5 hello world
6 hello world

In [6]:
data.split('\n')

['1 hello world',
 '2 hello world',
 '3 hello world',
 '4 hello world',
 '5 hello world',
 '6 hello world']

In [7]:
lines = data.split('\n')
lines

['1 hello world',
 '2 hello world',
 '3 hello world',
 '4 hello world',
 '5 hello world',
 '6 hello world']

In [8]:
n = int(input('Enter n = '))
lines = data.split('\n')
lines[n - 1]

Enter n =  1

'1 hello world'

In [11]:
#write mode
file = open('newdata.txt','w')
file.write('Jay Nepal')
file.close()

In [13]:
bill = ''
n = int(input('enter n = '))
for i in range(n):
    product = input('product name = ')
    price = int(input('price = '))
    qty = float(input('qty = '))
    total = price*qty
    x = f'{product} {price} {qty} {total}\n'
    bill = bill + x

print(bill)

file = open('bill.txt','w')
file.write(bill)
file.close()

enter n =  3
product name =  Apple
price =  25
qty =  8
product name =  Banana
price =  12
qty =  12
product name =  Guava
price =  45
qty =  12

Apple 25 8.0 200.0
Banana 12 12.0 144.0
Guava 45 12.0 540.0

In [14]:
bill = ''
n = int(input('enter n = '))
for i in range(n):
    product = input('product name = ')
    price = int(input('price = '))
    qty = float(input('qty = '))
    total = price*qty
    x = f'{product} {price} {qty} {total}\n'
    bill = bill + x

print(bill)

file = open('bill.txt','a')
file.write(bill)
file.close()

enter n =  2
product name =  Mango
price =  20
qty =  5
product name =  Litchi
price =  50
qty =  8

Mango 20 5.0 100.0
Litchi 50 8.0 400.0

In [15]:
file = open('bill.txt','r')
data = file.read()
file.close()
data

'Apple 25 8.0 200.0\nBanana 12 12.0 144.0\nGuava 45 12.0 540.0\nMango 20 5.0 100.0\nLitchi 50 8.0 400.0\n'

In [20]:
final_list = []
data_list = data.split('\n')[0:-1]
for i in data_list:
    x = i.split('\t')
    print(x)
    final_list.append(x)
final_list

['Apple 25 8.0 200.0']
['Banana 12 12.0 144.0']
['Guava 45 12.0 540.0']
['Mango 20 5.0 100.0']
['Litchi 50 8.0 400.0']

[['Apple 25 8.0 200.0'],
 ['Banana 12 12.0 144.0'],
 ['Guava 45 12.0 540.0'],
 ['Mango 20 5.0 100.0'],
 ['Litchi 50 8.0 400.0']]

In [22]:
bills = ''
n = int(input('enter n = '))
for i in range(n):
    product = input('product name = ')
    price = int(input('price = '))
    qty = float(input('qty = '))
    total = price*qty
    x = f'{product},{price},{qty},{total}\n'             #string formatting
    bills = bills + x

print(bills)

file = open('bills.csv','w')
file.write('Product,Price,Qty,Total\n')
file.write(bills)
file.close()

enter n =  2
product name =  Apple
price =  30
qty =  6
product name =  Banana
price =  20
qty =  12

Apple,30,6.0,180.0
Banana,20,12.0,240.0