In [2]:
a=10
print(a)

10

In [4]:
a = 10             #integer  only 0-9
b = 10.5           #float    0-9 with . decimal
c = 'Hello World'  #string   anything between '' or ""
d = True           #boolen   only True False
print(a,b,c,d)

print (a)
print (b)
print (c)
print (d)

10 10.5 Hello World True
10
10.5
Hello World
True

In [5]:
# operators in Python

In [1]:
a = 10
b = 3
c = 2.5
print(a+b-c)
print(a+b)
print(a-b)
print(a*b)
print(a/b)



print(a**b)     #power nikalne raicha. 10 to the power 3
print(a//b)     #whole number nikalne  
print(a%b)      #reminder

10.5
13
7
30
3.3333333333333335
1000
3
1

In [11]:
#String
a = "Hello"
b = "World"
c = a + b          #concat
print(c)

HelloWorld

In [13]:
a = "Hello World"
print(a*2)
                #enlargement

Hello WorldHello World

In [14]:
#bool

In [16]:
a = True                    #true=1, false=0
b = False
c = a+b
print(c)

1

In [2]:
 # Data Type

In [3]:
a = 10             #integer  only 0-9
b = 10.5           #float    0-9 with . decimal
c = 'Hello World'  #string   anything between '' or ""
d = True           #boolen   only True False

In [4]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [6]:
#int to float
a = 10
b = float(a)
print(b)

10.0

In [7]:
#float to int
a = 10.5
b = int(a)
print(b)

10

In [8]:
#int to str
a = 10
b = str(a)
print(b)

10

In [10]:
#str to float
a = '10.5'
b = float(a)
print(b)

10.5

In [11]:
#int to bool
a = 0
b = bool(a)
print(b)

False

In [12]:
#str to bool            #except 0 & blank str, everything true
a = '1'
b = bool(a)
print(b)

True

In [13]:
# user defined variable

In [14]:
a = input()

 10

'10'

In [16]:
a = int(input('Enter a = '))
b = int(input('Enter b = '))
c = a+b
print(c)

Enter a =  10
Enter b =  10

20

In [17]:
a = float(input('Enter a = '))
b = float(input('Enter b = '))
c = a+b
print(c)

Enter a =  10.5
Enter b =  10.7

21.2

In [18]:
#simple interest

In [21]:
p = int(input('Enter p = '))
t = float(input('Enter t = '))
r = float(input('Enter r = '))

i=p*t*r/100

print('The value of i = ', i)

Enter p =  100000
Enter t =  2
Enter r =  12.5

The value of i =  25000.0

In [ ]:
# WAP to calculate area of circle

In [1]:
r = float(input('Radius = '))
pi = 3.14
area = pi*r**2

print('the area of circle = ', area)

Radius =  7

the area of circle =  153.86

In [4]:
p = float(input('Enter physics marks = '))
c = float(input('Enter chemistry marks = '))
m = float(input('Enter math marks = '))
n = int(input('Enter nepali marks = '))
e = int(input('Enter english marks = '))

total = p+c+m+n+e
per = total/5

print('the total marks = ', total)
print('the per = ', per, '%')

Enter physics marks =  75.4
Enter chemistry marks =  67.5
Enter math marks =  78.9
Enter nepali marks =  60
Enter english marks =  90

the total marks =  371.8
the per =  74.36 %

In [7]:
p = float(input('Enter physics marks = '))
c = float(input('Enter chemistry marks = '))
m = float(input('Enter math marks = '))
n = int(input('Enter nepali marks = '))
e = int(input('Enter english marks = '))

total_per = (p+c+m+n+e)/5


print('the total per = ', total_per, '%')

Enter physics marks =  60.5
Enter chemistry marks =  60.5
Enter math marks =  60.5
Enter nepali marks =  70
Enter english marks =  70

the total per =  64.3 %