In [1]:
#python collections
#list
#tuple
#dict
#set

In [2]:
#List
#- indexing
#- multiple and duplicate
#- ordered
#- mutable

In [4]:
a = [1,2,3,4,5,6,7,8,9,10,1]
b = ['Apple', 'Ball', 'Cat', 'Dog', 'Fish', 'Dog']
print(a)
print(b)                                                 #MULTIPLE,DUPLICATE,LIST
print(type(a))                                                     
print(type(b))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1]
['Apple', 'Ball', 'Cat', 'Dog', 'Fish', 'Dog']
<class 'list'>
<class 'list'>

In [11]:
b = ['Apple', 'Ball', 'Cat', 'Dog', 'Fish', 'Dog']
print(b[0])
print(b[0:3])
print(b[0:6:2])
print(b[-1])

Apple
['Apple', 'Ball', 'Cat']
['Apple', 'Cat', 'Fish']
Dog

In [14]:
a = [1,2,3]
b = [3,4,5,6]
c = a+b                  #concatenation 
print(c)

[1, 2, 3, 3, 4, 5, 6]

In [15]:
a = ['Hello','World']
print(a*2)

['Hello', 'World', 'Hello', 'World']

In [16]:
b = ['Apple', 'Ball', 'Cat']
for i in b:
    print(i)

Apple
Ball
Cat

In [19]:
l = []
n = int(input('Enter n ='))
for i in range(n):
    x = int(input('Enter x = '))
    l = l + [x]

print(l)

Enter n = 3
Enter x =  10
Enter x =  20
Enter x =  30

[10, 20, 30]

In [22]:
print('Min value = ', min(l))
print('Max value = ', max(l))
print('Sum of value = ', sum(l))
l.sort()                                     #ascending order
print(l)
l.reverse()                                  #descending order
print(l)

Min value =  10
Max value =  30
Sum of value =  60
[10, 20, 30]
[30, 20, 10]

In [25]:
a = ['Rum', 'Gin','Whisky','Vodka']
a.sort()
print(a)
a.reverse()
print(a)

['Gin', 'Rum', 'Vodka', 'Whisky']
['Whisky', 'Vodka', 'Rum', 'Gin']

In [26]:
#CRUD operation
# c = create
# r = read
# u = update
# d = delete

In [27]:
#CREATE
#append()  insert()  extend()

In [28]:
l = []
l.append('Apple')
l.append('Ball')
l.append('Cat')
print(l)

['Apple', 'Ball', 'Cat']

In [29]:
#append
l = []
n = int(input('Enter n ='))
for i in range(n):
    x = int(input('Enter x = '))
    l.append(x)

print(l)

Enter n = 2
Enter x =  12
Enter x =  14

[12, 14]

In [31]:
#insert
a = ['Rum', 'Gin','Whisky','Vodka']
a.insert(1,'Beer')
print(a)

['Rum', 'Beer', 'Gin', 'Whisky', 'Vodka']

In [32]:
#extend
a = [1,2,3,4,5]
b = [6,7,8,9]
a.extend(b)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [33]:
#extend
a = [1,2,3,4,5]
b = [6,7,8,9]
b.extend(a)
print(b)

[6, 7, 8, 9, 1, 2, 3, 4, 5]

In [34]:
#update
a = ['Rum', 'Gin','Whisky','Vodka']
a[0] = 'Cider'
a

['Cider', 'Gin', 'Whisky', 'Vodka']

In [36]:
a = ['Rum', 'Gin','Whisky','Vodka']
a[0:2] = ['Scotch','Tequilla']
a

['Scotch', 'Tequilla', 'Whisky', 'Vodka']

In [37]:
#delete
#del remove() pop()

In [40]:
a = ['Rum', 'Gin','Whisky','Vodka']
del a[0:2]
print(a)

['Whisky', 'Vodka']

In [41]:
#remove
a = ['Rum', 'Gin','Whisky','Vodka']
a.remove('Gin')
print(a)

['Rum', 'Whisky', 'Vodka']

In [44]:
a = ['Rum', 'Gin','Whisky','Vodka']
a.pop()
print(a)

['Rum', 'Gin', 'Whisky']

In [2]:
#nested list (list inside list)

In [6]:
a = [[1,2,3],[4,5,6],[6,7,8]]
print(len(a))

3

In [9]:
a = [['Ram',34,'Kathmandu'],['Shyam',45,'Bhaktapur'],['Hari',34,'Lalitpur']]
print(a)

[['Ram', 34, 'Kathmandu'], ['Shyam', 45, 'Bhaktapur'], ['Hari', 34, 'Lalitpur']]

In [10]:
data = []
n = int(input('Enter n = '))
for i in range(n):
    name = input('Enter name = ')
    age = int(input('Enter age = '))
    add = input('Enter add = ')
    x = [name,age,add]
    data.append(x)

print(data)

Enter n =  3
Enter name =  Ramesh
Enter age =  55
Enter add =  Lalitpur
Enter name =  Ganesh
Enter age =  45
Enter add =  Kavre
Enter name =  Bhuwan
Enter age =  61
Enter add =  Kathmandu

[['Ramesh', 55, 'Lalitpur'], ['Ganesh', 45, 'Kavre'], ['Bhuwan', 61, 'Kathmandu']]

In [15]:
#indexing
a = [['Ram',34,'Kathmandu'],['Shyam',45,'Bhaktapur'],['Hari',34,'Lalitpur']]
print(a[0])
print(a[0][1])
a.append(['Sujan',33,'Janakpur'])
print(a)

['Ram', 34, 'Kathmandu']
34
[['Ram', 34, 'Kathmandu'], ['Shyam', 45, 'Bhaktapur'], ['Hari', 34, 'Lalitpur'], ['Sujan', 33, 'Janakpur']]

In [16]:
for i in a:
    print(i)

['Ram', 34, 'Kathmandu']
['Shyam', 45, 'Bhaktapur']
['Hari', 34, 'Lalitpur']
['Sujan', 33, 'Janakpur']

In [17]:
#UPDATE
a = [['Ram',34,'Kathmandu'],['Shyam',45,'Bhaktapur'],['Hari',34,'Lalitpur']]
a[0][0] = 'Ram Prasad'
print(a)

[['Ram Prasad', 34, 'Kathmandu'], ['Shyam', 45, 'Bhaktapur'], ['Hari', 34, 'Lalitpur']]

In [25]:
a = [['Ram',34,'Kathmandu'],['Shyam',45,'Bhaktapur'],['Hari',34,'Lalitpur']]

del a[1][2]
print(a)

[['Ram', 34, 'Kathmandu'], ['Shyam', 45], ['Hari', 34, 'Lalitpur']]

In [31]:
#search in list
a = ['Ram','Shyam','Hari','Sita','Ramesh','Sita']
search = input('Enter name = ')
if 'Ram' in a:
    print('YES')
    print(a.count(search))
else:
    print('NO')

Enter name =  Ram

YES
1

In [40]:
#search in list inside list
c = 0
a = [['Ram', 34, 'Kathmandu'], ['Shyam', 45], ['Hari', 34, 'Lalitpur']]
search = input('Enter name = ')     
for i in a:
    if search in i:
        print(i)
        c = c+1
print(c)

Enter name =  Ram

['Ram', 34, 'Kathmandu']
1

In [43]:
a = [['Ram', 34, 'Kathmandu'], ['Shyam', 45, 'Bhaktapur'], ['Ram',20,'Chitwan'], ['Hari', 34, 'Lalitpur'], ['Ram',20,'Chitwan']]
l = len(a)
search = input('Enter name = ')
for i in range(l):
    if search in a[i]:
        print(i)

Enter name =  Ram

0
2
4

In [8]:
a = [['Ram', 34, 'Kathmandu'], ['Shyam', 45, 'Bhaktapur'], ['Ram',20,'Chitwan'], ['Hari', 34, 'Lalitpur'], ['Ram',20,'Chitwan']]
search = input('Enter name = ')
for i in a:
    if search in i:
        a.remove(i)



print(a)

Enter name =  Ram

[['Shyam', 45, 'Bhaktapur'], ['Hari', 34, 'Lalitpur']]

In [10]:
b = []
a = [['Ram', 34, 'Kathmandu'], ['Shyam', 45, 'Bhaktapur'], ['Ram',20,'Chitwan'], ['Hari', 34, 'Lalitpur'], ['Ram',20,'Chitwan'], ['Ram',20,'Chitwan']]
search = input('Enter name = ')
for i in a:
    if search != i[0]:
        b.append(i)
print(b)

Enter name =  Ram

[['Shyam', 45, 'Bhaktapur'], ['Hari', 34, 'Lalitpur']]