In [1]:
# for loop
# while loop

In [ ]:
#for loop
range (5)       #0,1,2,3,4
range (1, 5)    #1,2,3,4
range (1,10,2)  #1,3,5,7,9

In [3]:
for i in range(1,8,2):
    print(i, 'ODD')

1 ODD
3 ODD
5 ODD
7 ODD

In [5]:
for i in range(8,0,-1):
    print(i)

8
7
6
5
4
3
2
1

In [6]:
# WAP to create a multiplication table

In [7]:
n = int(input('Enter n = '))
for i in range(1,11):
    print(n*i)

Enter n =  8

8
16
24
32
40
48
56
64
72
80

In [8]:
n = int(input('Enter n = '))
for i in range(1,11):
    print(n,'*',i,'=',n*i)

Enter n =  7

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

In [9]:
s = 0
n = int(input('Enter n = '))
for i in range(n):
    x = int(input('Enter x = '))
    s = s + x
    print(s)

Enter n =  5
Enter x =  150

150

Enter x =  300

450

Enter x =  600

1050

Enter x =  1200

2250

Enter x =  2400

4650

In [11]:
s = 0
n = int(input('Enter n = '))
for i in range(n):
        x = int(input('Enter x = '))
        s = s + x*1.1
        print(s)

Enter n =  5
Enter x =  1000

1100.0

Enter x =  1000

2200.0

Enter x =  1000

3300.0

Enter x =  1000

4400.0

Enter x =  1000

5500.0

In [14]:
s = ''
n = int(input('Enter n = '))
for i in range(n):
    name = input('Enter name = ')
    s = s + name + '\n'
    
print(s)

Enter n =  3
Enter name =  ram
Enter name =  rum
Enter name =  rom

ram
rum
rom

In [8]:
#WAP to find factorial of a given number
# 5! = 1*2*3*4*5

s = 1
n = int(input('Enter n = '))
for i in range(1, n+1):
    s = s * i
print(s)

Enter n =  5

120

In [5]:
#WAP to find sum of all values (from 1 to itself)
# 5 -> 1+2+3+4+5

s = 0
n = int(input('Enter n = '))
for i in range(1, n+1):
    s = s + i
print(s)

Enter n =  5

15

In [8]:
#WAP to store name and phone number of a given persons

s = ''
n = int(input('Enter n = '))
for i in range(n):
    name = input('Enter name = ')
    number = input('Enter number = ')
    s = s + name + '\t' + number + '\n'
print(s)

Enter n =  3
Enter name =  rom
Enter number =  9808
Enter name =  dom
Enter number =  9707
Enter name =  gom
Enter number =  9606

rom	9808
dom	9707
gom	9606

In [11]:
#WAP to create a billing system
# product -> ?
# price -> ?
# qty -> ?
# total -> ?

In [26]:
s = ''
final_total = 0
n = int(input('Enter n = '))
for i in range(n):
    product = input('Enter product = ')
    price = int(input('Enter price = '))
    quantity = int(input('Enter quantity = '))
    total = price * quantity
    x = product + '\t' + str(price) + '\t' + str(quantity) + '\t' + str(total) + '\n'
    s = s + x
    final_total = final_total + total


print(s)
print('Total Amount = ',final_total)

Enter n =  2
Enter product =  Fogg
Enter price =  245
Enter quantity =  2
Enter product =  Chips
Enter price =  145
Enter quantity =  4

Fogg	245	2	490
Chips	145	4	580

Total Amount =  1070

In [28]:
#loop on strings

In [29]:
a = 'Hello World'
for i in a:
    print(i)

H
e
l
l
o

W
o
r
l
d

In [30]:
a = 'Hello. Chiya Pilo'
for i in a:
    print(i, end = '')

Hello. Chiya Pilo

In [34]:
a = 'Hello. Chiya Pilo'
for i in a:
    if i != '.':
        print(i, end = '')

Hello Chiya Pilo

In [36]:
a = 'hello world!. i am python'
for i in a:
    if (i != '.') and (i != '!'):
        print(i, end = '')

hello world i am python

In [1]:
# Control statements
#break
#continue
#pass

In [4]:
a = 5
for i in range(10):
    if i == a:
        break
    print(i)

0
1
2
3
4

In [8]:
a = 5
for i in range(10):
    if i == a:
        continue
    print(i)

0
1
2
3
4
6
7
8
9

In [10]:
a = 'Hello World. I am Python.'
for i in a:
    if i == '.':
        break
    print(i, end = '')

Hello World

In [12]:
a = 'Hello World. I am Python.'
for i in a:
    if i == '.':
        continue
    print(i, end = '')

Hello World I am Python

In [13]:
#WHILE LOOP

In [15]:
# while <condition>:
#    <operations>

In [1]:
a = 0
while a<5:
    print(a, 'Hello World')
    a = a + 1

0 Hello World
1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [2]:
a = 5
while a>0:
    print(a, 'Hello World')
    a = a - 1

5 Hello World
4 Hello World
3 Hello World
2 Hello World
1 Hello World

In [3]:
n = int(input('Enter n = '))
i = 1                        #initialization
while i<=10:                 #declaration
    print(n,'*',i,'=',n*i)
    i = i + 1                #increment or decrement

Enter n =  8

8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

In [7]:
s = 0
i = 0
n = int(input('Enter n = '))
while i<n:
    x = int(input('Enter x = '))
    s = s + x
    print(s)
    i = i + 1

Enter n =  3
Enter x =  50

50

Enter x =  60

110

Enter x =  70

180

In [2]:
#WAP to store name and phone number of a given persons

s = ''
i = 0
n = int(input('Enter n = '))
while i<n:
    name = input('Enter name = ')
    number = input('Enter number = ')
    s = s + name + '\t' + number + '\n'
    i = i + 1

print(s)

Enter n =  3
Enter name =  Ram
Enter number =  9876
Enter name =  Dam
Enter number =  6789
Enter name =  Gam
Enter number =  6587

Ram	9876
Dam	6789
Gam	6587

In [3]:
s = ''
i = 0
final_total = 0
n = int(input('Enter n = '))
while i<n:
    product = input('Enter product = ')
    price = int(input('Enter price = '))
    quantity = int(input('Enter quantity = '))
    total = price * quantity
    x = product + '\t' + str(price) + '\t' + str(quantity) + '\t' + str(total) + '\n'
    s = s + x
    final_total = final_total + total
    i = i + 1

print(s)
print('Total Amount = ',final_total)

Enter n =  2
Enter product =  Gum
Enter price =  150
Enter quantity =  2
Enter product =  Rum
Enter price =  515
Enter quantity =  3

Gum	150	2	300
Rum	515	3	1545

Total Amount =  1845

In [4]:
#control statement in while loop

In [7]:
i = 1
while i < 10:
    if i == 5:
        break
    print(i)
    i = i+2

1
3

In [1]:
i = 0
while i<10:
    if i == 7:
        i = i + 1
        continue
    print(i)
    i = i + 1

0
1
2
3
4
5
6
8
9

In [ ]:
# for else loop
# prime -> 2,3,5,7,11,13,17,19
# compostie -> 4,6,8,9,10,12,14,15,16,18,20,21,22,24,25,27

In [7]:
n = int(input('Enter n = '))
for i in range(2,n):
    if n%i == 0:
        print('The no is composite')
        break

else:
    print('The no is prime')

Enter n =  89

The no is prime