In [2]:
!pip install mysql-connector

Collecting mysql-connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
     - -------------------------------------- 0.5/11.9 MB 1.5 MB/s eta 0:00:08
     -- ------------------------------------- 0.8/11.9 MB 2.0 MB/s eta 0:00:06
     --- ------------------------------------ 1.0/11.9 MB 1.9 MB/s eta 0:00:06
     ----- ---------------------------------- 1.6/11.9 MB 1.8 MB/s eta 0:00:06
     ------ --------------------------------- 1.8/11.9 MB 1.6 MB/s eta 0:00:07
     ------ --------------------------------- 1.8/11.9 MB 1.6 MB/s eta 0:00:07
     ------- -------------------------------- 2.1/11.9 MB 1.3 MB/s eta 0:00:08
     ------- -------------------------------- 2.4/11.9 MB 1.4 MB/s eta 0:00:07
     ------- -------------------------------- 2.4/11.9 MB 1.4 MB/s eta 0:00:07
     -------- ------------------------------- 2.6/11.9 MB 1.3 MB/s eta 0:00:08
     -------- ------------------------------- 2.6/11.9 MB 1.3 MB/s eta 0:00:08
     --------- ------------------------------ 2.9/11.9 MB 1.1 MB/s eta 0:00:09
     --------- ------------------------------ 2.9/11.9 MB 1.1 MB/s eta 0:00:09
     --------- ------------------------------ 2.9/11.9 MB 1.1 MB/s eta 0:00:09
     ---------- ---------------------------- 3.1/11.9 MB 976.5 kB/s eta 0:00:09
     ---------- ---------------------------- 3.1/11.9 MB 976.5 kB/s eta 0:00:09
     ---------- ---------------------------- 3.1/11.9 MB 976.5 kB/s eta 0:00:09
     ----------- --------------------------- 3.4/11.9 MB 890.9 kB/s eta 0:00:10
     ------------ -------------------------- 3.7/11.9 MB 916.6 kB/s eta 0:00:09
     ------------ -------------------------- 3.9/11.9 MB 900.0 kB/s eta 0:00:09
     ------------- ------------------------- 4.2/11.9 MB 915.3 kB/s eta 0:00:09
     -------------- ------------------------ 4.5/11.9 MB 929.0 kB/s eta 0:00:08
     -------------- ------------------------ 4.5/11.9 MB 929.0 kB/s eta 0:00:08
     --------------- ----------------------- 4.7/11.9 MB 935.2 kB/s eta 0:00:08
     ---------------- ---------------------- 5.0/11.9 MB 932.2 kB/s eta 0:00:08
     ---------------- ---------------------- 5.0/11.9 MB 932.2 kB/s eta 0:00:08
     ----------------- --------------------- 5.2/11.9 MB 905.6 kB/s eta 0:00:08
     ----------------- --------------------- 5.2/11.9 MB 905.6 kB/s eta 0:00:08
     ------------------ -------------------- 5.5/11.9 MB 899.6 kB/s eta 0:00:08
     ------------------ -------------------- 5.8/11.9 MB 905.7 kB/s eta 0:00:07
     ------------------- ------------------- 6.0/11.9 MB 925.1 kB/s eta 0:00:07
     -------------------- ------------------ 6.3/11.9 MB 936.7 kB/s eta 0:00:06
     --------------------- ----------------- 6.6/11.9 MB 947.5 kB/s eta 0:00:06
     ---------------------- ---------------- 6.8/11.9 MB 955.5 kB/s eta 0:00:06
     ------------------------ -------------- 7.3/11.9 MB 978.4 kB/s eta 0:00:05
     ------------------------ -------------- 7.3/11.9 MB 978.4 kB/s eta 0:00:05
     ------------------------ -------------- 7.3/11.9 MB 978.4 kB/s eta 0:00:05
     ------------------------- ------------- 7.6/11.9 MB 954.9 kB/s eta 0:00:05
     ------------------------- ------------- 7.9/11.9 MB 952.2 kB/s eta 0:00:05
     -------------------------- ------------ 8.1/11.9 MB 953.2 kB/s eta 0:00:04
     -------------------------- ------------ 8.1/11.9 MB 953.2 kB/s eta 0:00:04
     --------------------------- ----------- 8.4/11.9 MB 949.1 kB/s eta 0:00:04
     ---------------------------- ---------- 8.7/11.9 MB 948.6 kB/s eta 0:00:04
     ----------------------------- --------- 8.9/11.9 MB 952.9 kB/s eta 0:00:04
     ----------------------------- --------- 8.9/11.9 MB 952.9 kB/s eta 0:00:04
     ----------------------------- --------- 8.9/11.9 MB 952.9 kB/s eta 0:00:04
     ------------------------------ -------- 9.2/11.9 MB 921.6 kB/s eta 0:00:03
     ------------------------------ -------- 9.2/11.9 MB 921.6 kB/s eta 0:00:03
     ------------------------------ -------- 9.2/11.9 MB 921.6 kB/s eta 0:00:03
     ------------------------------ -------- 9.2/11.9 MB 921.6 kB/s eta 0:00:03
     ------------------------------- ------- 9.4/11.9 MB 867.4 kB/s eta 0:00:03
     ------------------------------- ------- 9.4/11.9 MB 867.4 kB/s eta 0:00:03
     ------------------------------- ------- 9.4/11.9 MB 867.4 kB/s eta 0:00:03
     ------------------------------- ------- 9.7/11.9 MB 855.5 kB/s eta 0:00:03
     ------------------------------- ------- 9.7/11.9 MB 855.5 kB/s eta 0:00:03
     ------------------------------- ------ 10.0/11.9 MB 845.8 kB/s eta 0:00:03
     ------------------------------- ------ 10.0/11.9 MB 845.8 kB/s eta 0:00:03
     -------------------------------- ----- 10.2/11.9 MB 842.2 kB/s eta 0:00:02
     --------------------------------- ---- 10.5/11.9 MB 842.1 kB/s eta 0:00:02
     --------------------------------- ---- 10.5/11.9 MB 842.1 kB/s eta 0:00:02
     ---------------------------------- --- 10.7/11.9 MB 841.0 kB/s eta 0:00:02
     ----------------------------------- -- 11.0/11.9 MB 846.1 kB/s eta 0:00:01
     ------------------------------------ - 11.3/11.9 MB 848.0 kB/s eta 0:00:01
     ------------------------------------ - 11.3/11.9 MB 848.0 kB/s eta 0:00:01
     ------------------------------------ - 11.5/11.9 MB 848.7 kB/s eta 0:00:01
     -------------------------------------- 11.9/11.9 MB 853.6 kB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: mysql-connector
  Building wheel for mysql-connector (setup.py): started
  Building wheel for mysql-connector (setup.py): finished with status 'done'
  Created wheel for mysql-connector: filename=mysql_connector-2.2.9-cp312-cp312-win_amd64.whl size=247959 sha256=fe15d5ae44159ea0095f4c9cc33d628f11fbbaee8ce094e6ec01df4ce87644d3
  Stored in directory: c:\users\admin\appdata\local\pip\cache\wheels\03\17\fa\d7604c72dd3dd6d3eb3d249abf36cc532c9a9b4354b8f1bc4f
Successfully built mysql-connector
Installing collected packages: mysql-connector
Successfully installed mysql-connector-2.2.9

In [8]:
import mysql.connector  		#importing database

database = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database = "python 8 am"
)
db = database.cursor()

In [8]:
#read all data from database

In [9]:
db.execute('SELECT * FROM students')
result = db.fetchall()

for x in result:
    print(x)

(1, 'Govinda', 68, 59, 89, 92, 73, 500, 89, 'A')
(2, 'Puran', 55, 66, 77, 88, 99, 555, 88, 'A')
(3, 'Shankhar', 44, 55, 66, 77, 88, 666, 77, 'B')
(4, 'Utkrishta', 74, 55, 66, 77, 88, 666, 79, 'B')
(5, 'Umanga', 88, 77, 66, 77, 88, 666, 79, 'A')

In [11]:
#read selected column's data from database
db.execute('SELECT sn,name,per,grade FROM students')
result = db.fetchall()

for x in result:
    print(x)

(1, 'Govinda', 89, 'A')
(2, 'Puran', 88, 'A')
(3, 'Shankhar', 77, 'B')
(4, 'Utkrishta', 79, 'B')
(5, 'Umanga', 79, 'A')

In [16]:
#read filtered column's data from database
db.execute("SELECT * FROM students WHERE grade = 'B'")
result = db.fetchall()

for x in result:
    print(x)

(3, 'Shankhar', 44, 55, 66, 77, 88, 666, 77, 'B')
(4, 'Utkrishta', 74, 55, 66, 77, 88, 666, 79, 'B')

In [10]:
#write on table
sql = '''INSERT INTO `students` (name, physics, chemistry, math, english, nepali, total, per, grade)
VALUES ( 'Anand', 59, 60, 61, 71, 81, 420, 74, 'B');'''
db.execute(sql)
database.commit()

In [12]:
name = input('Enter name = ')
physics = int(input('Enter physics marks = '))
chemistry = int(input('Enter chemistry marks = '))
math = int(input('Enter math marks = '))
nepali = int(input('Enter nepali marks = '))
english = int(input('Enter english marks = '))


total = physics+chemistry+math+nepali+english
per = total/5

if per >=80:
    grade = 'A'
elif per >=60:
    grade = 'B'
elif per >=50:
    grade = 'C'
else:
    grade = 'F'

sql = f'''INSERT INTO `students` (name, physics, chemistry, math, english, nepali, total, per, grade)
VALUES ('{name}',{physics},{chemistry},{math},{english},{nepali},{total},{per},'{grade}'); '''
db.execute(sql)
database.commit()

Enter name =  Sunanda
Enter physics marks =  78
Enter chemistry marks =  87
Enter math marks =  67
Enter nepali marks =  76
Enter english marks =  90

In [13]:
sn = int(input('Enter sn = '))
name = input('Enter name = ')
sql = f'''UPDATE students SET name = '{name}' WHERE sn = {sn}; '''
db.execute(sql)
if database.commit():
    print('Data is commited')

Enter sn =  4
Enter name =  Saraswati

In [15]:
!pip install pandasql

Collecting pandasql
  Downloading pandasql-0.7.3.tar.gz (26 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: numpy in c:\users\admin\anaconda3\lib\site-packages (from pandasql) (1.26.4)
Requirement already satisfied: pandas in c:\users\admin\anaconda3\lib\site-packages (from pandasql) (2.2.2)
Requirement already satisfied: sqlalchemy in c:\users\admin\anaconda3\lib\site-packages (from pandasql) (2.0.34)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\admin\anaconda3\lib\site-packages (from pandas->pandasql) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\admin\anaconda3\lib\site-packages (from pandas->pandasql) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\admin\anaconda3\lib\site-packages (from pandas->pandasql) (2023.3)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\admin\anaconda3\lib\site-packages (from sqlalchemy->pandasql) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\admin\anaconda3\lib\site-packages (from sqlalchemy->pandasql) (3.0.1)
Requirement already satisfied: six>=1.5 in c:\users\admin\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas->pandasql) (1.16.0)
Building wheels for collected packages: pandasql
  Building wheel for pandasql (setup.py): started
  Building wheel for pandasql (setup.py): finished with status 'done'
  Created wheel for pandasql: filename=pandasql-0.7.3-py3-none-any.whl size=26801 sha256=bcc55ef5721ff86dedc02f0c039ec61f6aa58c6b0865a9623242bde8928f705e
  Stored in directory: c:\users\admin\appdata\local\pip\cache\wheels\15\a1\e7\6f92f295b5272ae5c02365e6b8fa19cb93f16a537090a1cf27
Successfully built pandasql
Installing collected packages: pandasql
Successfully installed pandasql-0.7.3

In [16]:
# import pandasql as sqldf

In [20]:
#delete in sql
sn = int(input('Enter sn = '))
sql = f'''DELETE FROM students WHERE sn = {sn}'''
db.execute(sql)
database.commit()

Enter sn =  7