In [1]:
a = 11
if a>10:
    print('the value of a is greater')

the value of a is greater

In [6]:
a = int(input('Enter a = '))
if a != 5:
    print('a is not equal to five')
elif a <=20:
    print('a is less than or equal to 20')

Enter a =  5

a is less than or equal to 20

In [10]:
ram = int(input('monthly cashflow of ram'))
jiban = int(input('monthly cashflow of jiban'))
jen = int(input('monthly cashflow of jen'))

total_cashflow = ram+jiban+jen
print('total cashflow = ', total_cashflow)

avg_cashflow = total_cashflow/3
print('average cashflow = ', avg_cashflow)

highest_cashflow = max(ram, jiban, jen)
print('the highest cashflow is = ', highest_cashflow)

monthly cashflow of ram 200000
monthly cashflow of jiban 250000
monthly cashflow of jen 350000

total cashflow =  800000
average cashflow =  266666.6666666667
the highest cashflow is =  350000

In [12]:
#monthly expenses calculation
monthly_income = int(input('monthly income ='))
rent = int(input('Monthly rent = '))
groceries = int(input('Monthly groceries'))
fuel = int(input('Monthly fuel = '))

total_monthly_expenses = rent+groceries+fuel
print('total monthly expenses = ', total_monthly_expenses)

net_income = monthly_income-total_monthly_expenses
print('net income = ', net_income)

annual_expenses = total_monthly_expenses*12
print('total annual expenses = ', annual_expenses)

annual_income = monthly_income*12
print('total annual income = ', annual_income)

annual_savings = annual_income-annual_expenses
print('total annual savings = ', annual_savings)

highest_expenses = max(rent, groceries, fuel)
print('highest expenses is ', highest_expenses)

if rent>= 30000:
    print('rent is higher')
else:
    print('rent is affordable')

if annual_income>= 2000000:
    print('annual income is sustainable')
else:
    print('annual income is insufficient')

if annual_expenses>=1500000:
    print('annual expenses is inaffordable')

monthly income = 45000
Monthly rent =  10000
Monthly groceries 4500
Monthly fuel =  2000

total monthly expenses =  16500
net income =  28500
total annual expenses =  198000
total annual income =  540000
total annual savings =  342000
highest expenses is  10000
rent is affordable
annual income is insufficient