In [1]:
# SET
#~ no indexing
#~ multiple but no duplicate
#~ unOrdered
#~ mutable

In [3]:
s = set()
print(type(s))

<class 'set'>

In [4]:
s = {1,2,4,5,6,7,8,9}
print(s)

{1, 2, 4, 5, 6, 7, 8, 9}

In [5]:
s = {'Apple', 'Ball', 'Cat', 'Dog', 'Fish'}
print(s)

{'Cat', 'Ball', 'Fish', 'Apple', 'Dog'}

In [7]:
s = {'Apple', 'Ball', 'Apple', 'Fish' , 'Cat', 'Dog', 'Fish'}
print(s)

{'Cat', 'Ball', 'Fish', 'Apple', 'Dog'}

In [8]:
s = {'Apple', 'Ball', 'Cat', 'Dog', 'Fish'}
s[0]                                           #no order hence no indexing

TypeError: 'set' object is not subscriptable

In [10]:
a = {}
type(a)

dict

In [13]:
#insert data into set
s = set()
s.add('Apple')
s.add('Ball')
s.add('Cat')
print(s)

{'Cat', 'Ball', 'Apple'}

In [16]:
s = {'Apple', 'Ball', 'Cat', 'Dog', 'Fish'}
s.remove('Dog')
s.remove('Fish')
print(s)

{'Cat', 'Ball', 'Apple'}

In [19]:
# there is no any mutable data type inside set
# no list inside set
# no dict inside set
# no set inside set

In [ ]:
# in {} there is no use of any operator

In [20]:
#update
#union
#intersection
#difference

In [21]:
a = {1,2,3,4,5,6}
b = {7,8,9}
a.update(b)
print(a)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [2]:
U = {'kok','xcv','Steve', 'Sita', 'Hari', 'Nilam', 'William', 'Ram', 'John', 'Jack', 'Bill', 'Satya', 'Ashok', 'Sujan'}
ms = {'Jack','John','Bill','William','Satya','Ram','Hari'}
apple = {'Steve','Ashok','Nilam','Sujan','Sita','Ram','Hari'}

common = ms.intersection(apple)

merge = ms.union(apple)

print('Common HR = ',common)
print('Merged HR = ',merge)

print(U - merge)

Common HR =  {'Ram', 'Hari'}
Merged HR =  {'Ashok', 'Satya', 'Steve', 'Jack', 'Ram', 'Sita', 'Hari', 'Bill', 'Nilam', 'Sujan', 'John', 'William'}
{'xcv', 'kok'}

In [27]:
print('Only MS = ',ms-apple)                  

print('Only Apple = ', apple-ms)

Only MS =  {'William', 'John', 'Jack', 'Bill', 'Satya'}
Only Apple =  {'Steve', 'Sita', 'Nilam', 'Ashok', 'Sujan'}

In [3]:
#unemployed people
print(U-merge)

{'xcv', 'kok'}

In [4]:
#subset()
#superset()
#disjoint()