In [1]:
# string

a = 'Hello World'
b = "Hello World"
c = '''Hello World'''
print(type(a))
print(type(b))
print(type(c))

<class 'str'>
<class 'str'>
<class 'str'>

In [2]:
a = input('Enter a = ')
print(type(a))

Enter a =  fish

<class 'str'>

In [3]:
a = 'Hello '     #CONCATINATION 
b = 'World'
c = a + b
print(c)

Hello World

In [6]:
a = 'Hello World '          
print(a*2)             #ENLARGEMENT

Hello World Hello World

In [10]:
a = 'Hello World'
print(a[0])          #INDEXING
print(a[0:5])        #SLICING
print(a[0:10:2])     #INCREMENT

H
Hello
HloWr

In [14]:
a = 'Hello World'
l = len(a)
print(l)
for i in range(l):
    print(a[i])

11
H
e
l
l
o

W
o
r
l
d

In [1]:
a = 'Hello World'
l = len(a)
i = 0
while i<l:
    print(a[i])
    i = i + 1

H
e
l
l
o

W
o
r
l
d

In [6]:
#string
name = input('Enter name = ')
age = int(input('Enter age = '))
add = input('Enter add = ')

info = 'Hello world I am ' + name + ', ' + 'I am from ' + add + '. ' + 'I am ' + str(age) + ' years old'
print(info)

Enter name =  Jenish
Enter age =  24
Enter add =  Panauti

Hello world I am Jenish, I am from Panauti. I am 24 years old

In [2]:
#string formatting
name = input('Enter name = ')
age = int(input('Enter age = '))
add = input('Enter add = ')

info = f'Hello world I am {name}. I am from {add}. I am {age} years old'     #f for formatting, no data conversion need 
print(info)

Enter name =  Ganesh
Enter age =  5000
Enter add =  Himalayas

Hello world I am Ganesh. I am from Himalayas. I am 5000 years old

In [3]:
s = ''
n = int(input('Enter n = '))
for i in range(n):
    name = input('Enter name = ')
    phone = int(input('Enter phone = '))
    s = s + f'{name} {phone} \n'

print(s)

Enter n =  2
Enter name =  Shyam
Enter phone =  2432
Enter name =  Ghanshyam
Enter phone =  2433

Shyam 2432
Ghanshyam 2433

In [12]:
#search in string & count

a = 'Ram Shyam Hari Gita Rita Sita Nabin Ram'.lower()
search = input('Enter value for search').lower()
if search in a:
    print('Yes')
    print(a.count(search))

else:
    print('No')

Enter value for search ram

Yes
2

In [11]:
#upper & lower
a = 'Ram Shyam Hari Gita Rita Sita Nabin Ram'
print(a.upper())
print(a.lower())

RAM SHYAM HARI GITA RITA SITA NABIN RAM
ram shyam hari gita rita sita nabin ram

In [13]:
a = 'hAri MarI'.lower()
b = 'sitA'.lower()
print(a)
print(b)

hari mari
sita

In [15]:
#replace
a = 'Ram Shyam Hari Gita Rita Sita Nabin Ram'
a = a.replace('Ram','Jivan')
print(a)

Jivan Shyam Hari Gita Rita Sita Nabin Jivan